apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: crud-vs
  namespace: {{ .Values.namespace }}
spec:
  hosts:
    - "*"
  gateways:
    - crud-gateway
  http:
    - match:
      - uri:
          prefix: /api
      route:
      - destination:
          host: backend.prod.svc.cluster.local
          port:
            number: 5000
    - match:
      - uri:
          prefix: /
      route:
      - destination:
          host: frontend.prod.svc.cluster.local
          port:
            number: 80
